<!DOCTYPE html>
<nav class="animated fadeInDownBig">
  <p class="season-label"><%= season %> Events</p><img src="assets/icons/<%= season %>_icon.jpg" class="season-icon">

  <ul class="seasons-nav">
    <li class="seasons-nav-li">
      <a href="winter">
        <img src="assets/icons/winter_icon.jpg">
        <img src="assets/icons/winter_icon_orange.jpg">
        Winter Season
      </a></li>
    <li class="seasons-nav-li">
      <a href="spring">
        <img src="assets/icons/spring_icon.jpg">
        <img src="assets/icons/spring_icon_orange.jpg">
        Spring Season
      </a></li>
    <li class="seasons-nav-li">
      <a href="summer">
        <img src="assets/icons/summer_icon.jpg">
        <img src="assets/icons/spring_icon_orange.jpg">
        Summer Season
      </a></li>
    <li class="seasons-nav-li">
      <a href="fall">
        <img src="assets/icons/fall_icon.jpg">
        <img src="assets/icons/spring_icon_orange.jpg">
        Fall Season
      </a></li>
  </ul>

  <ul class="main-nav">
    <li><a href="winter">events</a></li>
    <li><a href="about">about</a></li>
    <li><a href="contact">contact</a></li>
    <% if(Session) { %><li><a href="admin">admin</a></li><% } %>
  </ul>
</nav>
