<!DOCTYPE html>
<nav class="animated fadeInDownBig">
  <ul class="icon-nav">
    <li><a href="about" title="About" alt="About"><i class="fa fa-info-circle"></i></a></li>
    <li><a href="contact" title="Contact" alt="Contact"><i class="fa fa-envelope"></i></a></li>
  </ul>

  <ul class="main-nav">
    <li><a href="/community">community</a></li>
    <li><a href="/">competition</a></li>
    <li><a href="/charity">charity</a></li>
    <% if(Session) { %><li><a href="admin">admin</a>
      <form class="logout" action="/logout"
            method="post" enctype="application/x-www-form-urlencoded">
        <button type="submit">
          <i class="fa fa-user-times"></i> Logout
        </button>
      </form>
    </li><% } %>
  </ul>
</nav>
