<!DOCTYPE html>
<nav class="animated fadeInDownBig">
  <h1><%= title %></h1>
  <ul class="icon-nav nav-bars">
    <li class="mobile-only">
      <a href="/community"><i class="fa fa-users"></i> <span>community</span></a>
    </li>
    <li class="mobile-only">
      <a href="/"><i class="fa fa-flag-checkered"></i> <span>competition</span></a>
    </li>
    <li class="mobile-only">
      <a href="/charity"><i class="fa fa-gift"></i> <span>charity</span></a>
    </li>
    <li class="mobile-only">
      <a href="https://www.trainingpeaks.com/coach/chrisjdunn" target=_blank ><i class="fa fa-bicycle"></i> <span>coaching</span></a>
    </li>    
    <li>
      <a href="/about" title="About" alt="About"><i class="fa fa-info-circle"></i><span>About</span></a>
    </li>
    <li>
      <a href="/contact" title="Contact" alt="Contact"><i class="fa fa-envelope"></i><span>Contact</span></a>
    </li>
  </ul>

  <ul class="main-nav nav-bars">
    <li><a href="/community">community</a></li>
    <li><a href="/">competition</a></li>
    <li><a href="/charity">charity</a></li>
    <li><a href="https://www.trainingpeaks.com/coach/chrisjdunn" target=_blank>coaching</a></li>
  </ul>
</nav>
