footer {
  width: 100%;
}

.social-footer-links {
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
  }

  img {
    margin: 5px;
    width: 40px;
  }
}

.swipe {
  display: none !important;

  @media screen and (max-width: 600px) {
    background-color: rgba(0, 0, 0, .9);
    bottom: 0;
    display: block !important;
    padding: 15px;
    position: fixed;
    text-align: center;
    width: 100%;

    p {
      color: rgba(255, 255, 255, .4);
      display: inline-block;
    }

    i {
      color: rgba(255, 255, 255, .4);
    }

    .fa-angle-double-left,
    .fa-angle-double-right {
      margin: 0 10px;
    }
  }
}
