.loon-mountain-race-page {
  padding: 0;

  .main-head {
    font-size: 24px;
    margin: 0;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
  }

  .header {
    background-image: url('../assets/headers/lmr-header.jpg');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 10px #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .61);
    height: 450px;
    margin: 0 auto;
    width: 90%;
  }

  .lmr-logo {
    display: block;
    padding: 20px;
    width: 200px;
  }

  .logo-holder {
    padding: 30px;
    text-align: center;
    width: 100%;

    img {
      width: 150px;
    }
  }
}
